<div class="container">
    <form class="new-employee">
        <h2>Please enter in new employee</h2>

        <div class="form-group">
            <label for="employee-name">Employee Name</label>
            <input type="text" id="employee-name" name="employee-name">
        </div>


        <button type="submit" class="login-btn btn">Submit</button>
    </form>
</div>